<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
</head>
<body>
    <h1>Create Cat!</h1>

    <form action="/cats/create" method="post">
        <lable>Name:</lable>
        <input type="text" name="name">
        <br>
        <lable>Breed:</lable>
        <input type="text" name="breed">
        <br>
        <lable>Color:</lable>
        <input type="text" name="color">
        <br>
        <lable>Age:</lable>
        <input type="number" name="age">
        <br>
        <input type="submit" value="Create Cat">
        <br>
        <br>

    </form>

    <a href="/">Back to Home</a>
</body>
</html>